<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huijianzhu.heqing.mapper.TdUserMapper">
  <resultMap id="BaseResultMap" type="com.huijianzhu.heqing.entity.TdUser">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="phone_number" jdbcType="INTEGER" property="phoneNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="permissions_id" jdbcType="VARCHAR" property="permissionsId" />
    <result column="permissions_path" jdbcType="VARCHAR" property="permissionsPath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="expand1" jdbcType="VARCHAR" property="expand1" />
    <result column="expand2" jdbcType="VARCHAR" property="expand2" />
    <result column="expand3" jdbcType="VARCHAR" property="expand3" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_account, pass_word, phone_number, email, user_type, permissions_id, 
    permissions_path, create_time, update_time, del_flag, create_user_name, expand1, 
    expand2, expand3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from td_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>


  <!--自定义查询有效用户信息所有-->
  <select id="selectUserAll" resultType="com.huijianzhu.heqing.entity.TdUser">
    select * from td_user where del_flag=1 order by create_time desc
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from td_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huijianzhu.heqing.entity.TdUser">
    insert into td_user (user_id, user_name, user_account, 
      pass_word, phone_number, email, 
      user_type, permissions_id, permissions_path, 
      create_time, update_time, del_flag, 
      create_user_name, expand1, expand2, 
      expand3)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, 
      #{passWord,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{userType,jdbcType=INTEGER}, #{permissionsId,jdbcType=VARCHAR}, #{permissionsPath,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER}, 
      #{createUserName,jdbcType=VARCHAR}, #{expand1,jdbcType=VARCHAR}, #{expand2,jdbcType=VARCHAR}, 
      #{expand3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huijianzhu.heqing.entity.TdUser">
    insert into td_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="passWord != null">
        pass_word,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="permissionsId != null">
        permissions_id,
      </if>
      <if test="permissionsPath != null">
        permissions_path,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="expand1 != null">
        expand1,
      </if>
      <if test="expand2 != null">
        expand2,
      </if>
      <if test="expand3 != null">
        expand3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="permissionsId != null">
        #{permissionsId,jdbcType=VARCHAR},
      </if>
      <if test="permissionsPath != null">
        #{permissionsPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="expand1 != null">
        #{expand1,jdbcType=VARCHAR},
      </if>
      <if test="expand2 != null">
        #{expand2,jdbcType=VARCHAR},
      </if>
      <if test="expand3 != null">
        #{expand3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huijianzhu.heqing.entity.TdUser">
    update td_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="permissionsId != null">
        permissions_id = #{permissionsId,jdbcType=VARCHAR},
      </if>
      <if test="permissionsPath != null">
        permissions_path = #{permissionsPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="expand1 != null">
        expand1 = #{expand1,jdbcType=VARCHAR},
      </if>
      <if test="expand2 != null">
        expand2 = #{expand2,jdbcType=VARCHAR},
      </if>
      <if test="expand3 != null">
        expand3 = #{expand3,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huijianzhu.heqing.entity.TdUser">
    update td_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_account = #{userAccount,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      permissions_id = #{permissionsId,jdbcType=VARCHAR},
      permissions_path = #{permissionsPath,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      expand1 = #{expand1,jdbcType=VARCHAR},
      expand2 = #{expand2,jdbcType=VARCHAR},
      expand3 = #{expand3,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>